doctype html 
html(lang='en')
    head 
        title Puneet Sandhu
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
        
    body 
        .background-navy
            .landing
                .nav-and-headings
                    nav 
                        a(href="#projects") projects 
                        a(href="#contact") say hello  
                    div.flex-end
                        h1 PUNEET #[span.next-line SANDHU]
                        h2 front-end  web  developer 
        .line 
        .background-wrap(id="aboutme") 
            .wrapper 
                .info 
                    section.box1.bg-box
                        img(src="img/bio.png", alt="avatar icon", height="64", width="64").icon-top
                        h2 Little bit #[span.keyword-acc about me]:
                        p Hi, I'm a 3rd year Software Systems student at SFU, applying my critical thinking to solve problems and learn from my mistakes. Using my proficiencies in web development technologies to design and build #[span.bold clean, responsive and efficient] websites. Staying focused with the help of caffeine, soccer and naps.
                    section.box2.bg-box
                        img(src="img/languages.png", alt="Html file on desktop icon", height="64", width="64").icon
                        h2 #[span.keyword-acc Languages] i've been working with:
                        ul 
                            li html
                            li css 
                            li sass 
                            li javascript
                            li typescript
                            li angular 
                            li python 
                            li c++
                    section.box3.bg-box
                        img(src="img/tools.png", alt="Toolkit icon", height="64", width="64").icon
                        h2 My productivity #[span.keyword-acc toolkit]:
                        ul  
                            li figma
                            li git
                            li vs code 
                            li google 
                            li npm  
        .line  
        section.projects(id="projects")
            .wrapper 
                
                    h2 Some of the #[span.keyword-sec projects] that I recently #[span.keyword-sec completed:] 
                    .bg-box 
                        .summary 
                            h3.count 01
                            h4 API HUB
                            img(src="img/css.png", alt="CSS icon", height="64", width="64").icon-top
                            .pj-grid
                                .pj-info
                                    p My #[span.bold first front-end project], In which I designed and built a prototype for an API Marketplace using #[span.bold HTML and CSS]. 
                                    img(src="img/p1.png", alt="API HUB project screenshot", width="490", height="296").responsive
                                .pj-btns
                                    a(href="https://www.sfu.ca/siat/student_projects/iat339_2022/psa9/p2/", target="_blank").btn-primary WEBSITE 
                                    a(href="https://github.sfu.ca/psa92/p2", target="_blank").btn-primary GITHUB 
                                    button.btn-primary.detail-btn ANALYSIS          
                        .details.hide 
                            .line 
                            .details-grid
                                .box1.box
                                    h3 A little Overview: 
                                    p We were assigned to create a #[span.bold mock front-end] for an online shop using HTML and CSS. Me and my partner, Gaurav Gupta came up with the idea to create an API marketplace. #[span.bold My contribution] consisted of #[span.bold designing and implementing landing page and individual product pages].
                                        
                                .box2.box
                                    h3 Problems I encountered: 
                                    ol 
                                        li 
                                            div
                                                p first I was copying and #[span.bold pasting hex codes] for each of the colors that I was using, this made any change to color pallete a very manual task. 
                                                img(src="img/manual-color.png", alt="Adding color in css without variables", height="105", width="250").responsive
                                        li 
                                            div
                                                p In terms of design, We couldn’t use the #[span.bold structure of image based product listings] because a developer who is looking for an API will not base his decision on a picture and a price tag.
                                                img(src="img/zara.png", alt="Zara product listing", height="260", width="313").responsive
                                .box3.box
                                    h3 Solutions that worked: 
                                    ol 
                                        li 
                                            div 
                                                p My experience with other languages helped me find out that there are #[span.bold variables] available for use is CSS aswell. 
                                                img(src="img/variables.png", alt="Css variables", height="112", width="310").responsive
                                        li 
                                            div 
                                                p I decided to create the listing such that it shows #[span.bold more information] about the API than a large image. Similarly, Instead of a single price tag a developer wants a choice between tiers which fits to his use of the API. So, I used #[span.bold CSS grids] to create responsive listings and pricing models for the website. 
                                                img(src="img/p1listing.png", alt="Listings in API HUB project", height="260", width="450").responsive
                                    p
                                .box4.box
                                    h3 What i learned 
                                    ol 
                                        li 
                                            div 
                                                p Maintaining a large CSS file is difficult. Therefore, #[span.bold modularized code] with sass is beneficial.
                                                img(src="img/sass.png", alt="SASS icon", height="64", width="64")
                                        li 
                                            div 
                                                p #[span.bold Absolute positions] and fixed values makes it #[span.bold very difficult] to make the #[span.bold website accessible]. 
                                                img(src="img/responsive.png", alt="Responsiveness icon")
                            
                    .bg-box 
                        .summary 
                            h3.count 02
                            
                            img(src="img/css.png", alt="CSS icon", height="64", width="64").icon-top
                            .pj-grid
                                .pj-btns
                                    a(href="https://www.sfu.ca/siat/student_projects/iat339_2022/psa9/p2/", target="_blank").btn-primary WEBSITE 
                                    a(href="https://github.com/puneet-sarhali/angular-covid", target="_blank").btn-primary GITHUB 
                                .pj-info
                                    h4 COVID CASES VISUALIZER
                                    p built a covid cases visualizer with #[span.bold Angular] using a public #[span.bold API] for the data. 
                                    img(src="img/p1.png", alt="API HUB project screenshot", width="490", height="296").responsive
                                
                    
            
        section.projects
            .wrapper 
                h2 #[span.keyword-sec Projects] that I am currently #[span.keyword-sec working on]: 
                .going-grid
                    //- .bg-box.box1
                    //-     h3.count 02
                    //-     h4 Covid Cases Visualizer 
                    //-     img(src="img/angular.png", alt="Angular icon", height="64", width="64").icon-top
                    //-     p Currently working on building a covid cases visualizer with #[span.bold Angular] using a public #[span.bold API] for the data. 
                    //-     p Est Completion: April 11, 2022 
                    //-     p View my progress at github: 
                    //-     a(href="https://github.com/puneet-sarhali/angular-covid", target="_blank").btn-primary GITHUB 
                    .bg-box
                        h3.count 03
                        h4 Clickbait Title Predictor
                        img(src="img/python.png", alt="Python programming language Icon", height="64", width="64").icon-top
                        p A #[span.bold Python Machine Learning model] which predicts whether a given title is a clickbait or not. Trained using post titles in chosen reddit subreddits. 
                        p Est Completion: April 30, 2022 
                        p View my progress at github: 
                        a(href="https://github.com/puneet-sarhali/angular-covid",target="_blank" ).btn-primary GITHUB 
        .line           
        footer(id="contact")
            .wrapper 
                .bg-box-flat
                    //- img(src="img/hello.png", alt="", height="64", width="64")
                    h2 Say #[span.bold hello] at #[span.bold psa92.sfu.ca] 



        script(src="script.js")
