doctype html 
html(lang='en')
    head 
        title Puneet Sandhu
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
        
    body 
        .background-navy
            .landing
                .nav-and-headings
                    nav 
                        a.decor(href="") ps
                        a(href="") projects 
                        a(href="") say hello  
                    div.flex-end
                        h1 PUNEET #[span.next-line SANDHU]
                        h2 front-end  web  developer 
                        <svg viewBox="0 0 100 100">
                        <g fill="none" stroke="#E7E0C9" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                            <!-- dashed trail -->
                            <g transform="translate(20 35)">
                                <path d="M 0 0 v 25 h 15 v 30" stroke-dasharray="2 4" stroke-dashoffset="1" />
                                <!-- animate the dash of a line atop the already dashed line -->
                                <path class="in-between" stroke="#11324D" stroke-width="1.5" d="M 15 55 v -30 h -15 v -25" />
                            </g>
                        </g>
                    </svg>
                .svg-cluster
                    //- <svg class="large shape" viewBox="0 0 96 96">
                    //-     <defs>
                    //-         <linearGradient id="circleGradient" x1="0%" x2="100%" y1="20%" y2="80%">
                    //-         <stop stop-color="#373734" offset="0%"/>
                    //-         <stop stop-color="#242423" offset="50%"/>
                    //-         <stop stop-color="#0D0D0C" offset="100%"/>
                    //-         </linearGradient>
                    //-     </defs>
                    //-     <circle cx="48" cy="48" r="14" fill-rule="evenodd" stroke-linecap="square" fill="url(#circleGradient)"/>
                    //- </svg>
                    //- <svg class="small shape color-red" viewBox="0 0 96 96">
                    //- <polygon fill-rule="evenodd" points="48 17.28 86.4 80.11584 9.6 80.11584" stroke-linecap="square"/>
                    //- </svg>
                    //- <svg class="small shape color-red" viewBox="0 0 96 96">
                    //- <polygon fill-rule="evenodd" points="48 17.28 86.4 80.11584 9.6 80.11584" stroke-linecap="square"/>
                    //- </svg>
        
        .background-grey  
            .info 
                section.aboutme 
                    h3.decor bio
                    p applying my critical thinking to solve problems and learn from my mistakes. using my proficiencies in html, css, js to build clean, responsive and efficient websites. staying focused with the help of caffeine, soccer and naps. 
                    h3.decor bio
                section.languages
                    h3.decor languages
                    ul 
                        li html
                        li css 
                        li sass 
                        li angular 
                        li python 
                        li c++
                    h3.decor languages
                section.tools 
                    h3.decor tools
                    ul  
                        li figma 
                        li github 
                        li visual studio code 
                        li google 
                        li npm 
                    h3.decor tools

        script(src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js")
        script(src="anime.js")
