doctype html 
html(lang='en')
    head 
        title Puneet Sandhu
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")
        
    body 
        .background-navy
            .landing
                .nav-and-headings
                    nav 
                        a(href="#projects") 📚 projects 
                        a(href="#contact") 📞 say hello
                        a(href="https://github.com/puneet-sarhali") 
                            img(src="img/github.png", alt="github logo" height="25" width="25") 
                            span github &#8599;
                        a(href="") 
                    div.flex-end
                        h1 PUNEET #[span.next-line SANDHU]
                        h2 front-end  web  developer 
        .line 
        .background-wrap(id="aboutme") 
            .wrapper 
                .info 
                    section.box1.bg-box
                        img(src="img/bio.png", alt="avatar icon", height="64", width="64").icon-top
                        h2 Little bit #[span.keyword-acc about me]:
                        p Hi, I'm a 3rd year Software Systems student at Simon Fraser University, applying my critical thinking to solve problems and learn from my mistakes. Using my proficiencies in web development technologies to design and build #[span.bold clean, responsive and efficient] websites. Staying focused with the help of caffeine, soccer and naps.
                    section.box2.bg-box
                        img(src="img/languages.png", alt="Html file on desktop icon", height="64", width="64").icon
                        h2 #[span.keyword-acc Technologies] i've worked with:
                        ul 
                            li angular
                            li css/sass 
                            li javascript/typescript
                            li rxjs
                            li python 
                            li c/c++
                            li postgreSQL/ SQL Server
                            li Google Cloud/ Firebase
                    section.box3.bg-box
                        img(src="img/tools.png", alt="Toolkit icon", height="64", width="64").icon
                        h2 My productivity #[span.keyword-acc toolkit]:
                        ul  
                            li figma
                            li git
                            li vs code 
                            li google 
                            li npm  
                            li docker 

        .line  
        section.projects(id="projects")
            .wrapper 
                
                    h2 Some of the #[span.keyword-sec projects] that I recently #[span.keyword-sec completed:] 
                    .projects-grid
                        .bg-box.box1
                            .summary 
                                h3.count 01
                                h4 Open Collab
                                //- img(src="img/angular.png", alt="Angular icon", height="64", width="64").icon-top
                                .stack 
                                    ul
                                        li 
                                            img(src="img/angular.png", alt="Angular icon", height="50", width="50")
                                        li 
                                            img(src="img/sql.png", alt="nodejs icon", height="50", width="50")
                                        li 
                                            img(src="img/gcp.png", alt="Google cloud platform icon", height="50", width="50")
                                .pj-info
                                    ul 
                                        li A #[span.bold collaboration tool] for open source developers to propose new project ideas, collaborate with developers interested in your proposal and transparently keep track of the project’s progress through a #[span.bold kanban board]. 
                                        li Built by gathering information from multiple resources and not just by following a tutorial.
                                        li #[span.bold Stack:] Angular, PrimeNG, ExpressJS, GCP, PostgreSQL
                                    //- img(src="img/p1.png", alt="API HUB project screenshot", width="490", height="296").responsive
                                    
                                .line 
                                .pj-btns
                                    a(href="http://34.95.46.254/#/posts", target="_blank").btn-primary Live &#8599;
                                    a(href="https://github.com/puneet-sarhali/open-collab", target="_blank").btn-primary GITHUB &#8599;
                                
                        .bg-box 
                            .summary 
                                h3.count 02
                                
                                .stack 
                                    ul
                                        li 
                                             img(src="img/typescript.png", alt="Node icon", height="50", width="50")
                                        li 
                                            img(src="img/docker.png", alt="docker icon", height="50", width="50")
                                        li 
                                            img(src="img/angular.png", alt="Angular icon", height="50", width="50")
                                .pj-info
                                    h4 Note Taker
                                    ul
                                        li A simple note taking full stack website with #[span.bold CRUD functionalities], built with Angular and Material UI as the UI library.
                                        li Mainly built to learn about docker concepts such as #[span.bold dockerfile and docker compose].
                                        li Use docker compose file in github repository to use the application locally. 
                                        li #[span.bold Stack:] Angular, ExpressJS, Docker 
                                    //- img(src="img/p1.png", alt="API HUB project screenshot", width="490", height="296").responsive
                                .line 
                                .pj-btns
                                    //- a(href="https://www.sfu.ca/siat/student_projects/iat339_2022/psa9/p2/", target="_blank").btn-primary Live &#8599;
                                    a(href="https://github.com/puneet-sarhali/docker-asn", target="_blank").btn-primary GITHUB &#8599;

                        .bg-box
                            h3.count 03
                            .stack 
                                    ul
                                        li 
                                            img(src="img/python.png", alt="Python icon", height="50", width="50")
                            .pj-info
                                h4 Clickbait Title Predictor
                                ul 
                                    li A #[span.bold Python Machine Learning model] which predicts whether a given title is a clickbait or not. 
                                    li Modelled four different Scikit Learn classifiers with each having a #[span.bold prediction accuracy] score above #[span.bold 90%].
                                    li Found out that four out of six subreddits have a linear relationship between the score of the post and the title’s clickbait classification 
                                    li #[span.bold Stack:] Python, NLTK, Spacy, Scikit Learn 
                            .line 
                            .pj-btns
                                a(href="https://github.com/cmpt353-spring-2022/nlp-project",target="_blank" ).btn-primary GITHUB &#8599;

                        .bg-box 
                            .summary 
                                h3.count 04
                                
                                .stack 
                                    ul
                                        li 
                                            img(src="img/angular.png", alt="Angular icon", height="50", width="50")
                                        li 
                                            img(src="img/html.png", alt="html icon", height="50", width="50")
                                        li 
                                            img(src="img/css.png", alt="css icon", height="50", width="50")
                                .pj-info
                                    h4 COVID CASES VISUALIZER
                                    ul 
                                        li Built a covid cases visualizer with #[span.bold Angular] using a public #[span.bold API] for the data. 
                                        li Used ngx-charts UI library to visualize the data received from the API
                                        li #[span.bold Stack:] Angular, Material UI, ngx-charts, External API
                                    //- img(src="img/p1.png", alt="API HUB project screenshot", width="490", height="296").responsive
                                .line
                                .pj-btns
                                    a(href="https://covid-canada-297a1.web.app/", target="_blank").btn-primary Live &#8599;
                                    a(href="https://github.com/puneet-sarhali/angular-covid", target="_blank").btn-primary GITHUB &#8599;

                        
                                
                    
            
        section.projects
            .wrapper 
                h2 #[span.keyword-sec Projects] that I am currently #[span.keyword-sec working on]: 
                .projects-grid
                    .going-grid
                        .bg-box
                            h3.count 01
                            .stack 
                                    ul
                                        li 
                                            img(src="img/angular.png", alt="Angular icon", height="50", width="50")
                                        li 
                                            img(src="img/firebase.png", alt="firebase icon", height="50", width="50")
                                        li 
                                            img(src="img/rxjs.svg", alt="Rxjs icon", height="45", width="45")
                            h4 Session
                            //- img(src="img/python.png", alt="Python programming language Icon", height="64", width="64").icon-top
                            p A website which algorithmically connect students of similar interests to study together and keep each other accountable through video and chat. 
                            ul 
                                li #[span.bold Stack:] Angular, Rxjs, Firebase, Tailwind CSS 
                            p Est MVP date: Sep 8, 2022
                            p View my progress at github: 
                            a(href="https://github.com/puneet-sarhali/session",target="_blank" ).btn-primary GITHUB &#8599;
        .line           
        footer(id="contact")
            .wrapper 
                .bg-box-flat
                    //- img(src="img/hello.png", alt="", height="64", width="64")
                    h2 Say #[span.bold hello] at #[span.bold psa92.sfu.ca] 


