@import 'inc/variables';
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: $primary;

}

h1{
    margin: 0;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0.125em;
}

h2{
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.125em;
    font-weight: lighter;
}

a{
    letter-spacing: 0.125em;
    word-spacing: 0.2em;
}

p{
    max-width: 30rem;
    font-weight: 200;
    word-spacing: 0.2em;
}
.next-line{
    display: block;
}

h3{
    letter-spacing: 0.125em;
    font-weight: 500;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 200;
}
