@import 'inc/variables';
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1{
    margin: 0;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0.125em;
}

h2{
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.125em;
    font-weight: lighter;
}

a{
    letter-spacing: 00.125em;
    word-spacing: 0.2em;
}

p{
    max-width: 30rem;
}

h3{
    
}