@import 'inc/variables';

.bg-contact {
    background-color: $primaryv2;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
    h2 {
        color: $accent;
        margin-bottom: 2rem;
    }
    ul{
        margin-left: 2rem;
        li{
            a{
                color: black;
            }
        }
    }

}