@import 'inc/variables';


.background-navy{
    background-color: $primary;
}

.landing {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    padding: 5rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;


    .shape {
        width: 10rem;
        height: 10rem;
    }

    .arrow-svg {
        max-height: 50vh;
    }

    .nav-and-headings{
        display: flex;
        flex-direction: column;
        text-align: center;

        .logo{
            text-align: left;
            font-size: 1rem;
            margin-bottom: 1rem;
            color: $accent;
            font-weight: 400;
        }
        nav{
            text-align: left;
            display: flex;
            flex-direction: column;

            a{
                color: $sec;
            }
        }
        
        .flex-end{
            justify-self: center;
            margin-top: auto;
            margin-bottom: auto;
            
            h2{
                color: $accent;
                font-weight: 400;
                font-size: 1rem;
            }
        }
        background-image: url("../img/blob.gif");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
        

    h1{
        color: $sec;
    }
   

}