$primary: #F1FAEE;
$primaryv1: #E7E0C9;
$primaryv2: #C1CFC0;
$sec: #000;
$accent: #E63946;

@mixin add-gt_lt(){
    &::before{
        content: "<";
    }
    &::after{
        content: ">";
    }
}

.decor {
    @include add-gt_lt;
}